.idea/
.vscode/
.venv*/
venv*/
__pycache__/
dist/
.coverage*
htmlcov/
.tox/
docs/_build/

content
file.txt
binary_image.png
binary-rec.txt
binary-rep.txt
data.txt
encrypted.txt
reconstructed_encrypted.txt