<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/index.css">
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="title">No Guesses</div>
            <div>
                <ul class="nav-links">
                    <form action="/" method="get" class="form">
                        <button type="submit">Home</button>
                    </form>
                    <form action="https://github.com/KashiwalHarsh/Text-Summarizer" target="_blank" method="get"
                        class="form">
                        <button type="submit">Contribute</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <section class="content">
        <h2 class="content-heading">About The Project</h2>
        <p class="content-sub">Blah Blah Blah Blah</p>
        <form action="/" method="get">
            <button id="summarizeBtn" class="button is-primary" type="submit">Home</button>
        </form>
    </section>
</body>

</html>