<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Decode</title>
    <link rel="stylesheet" href="static/main.css">
    <script src="static/main.js" defer></script>
</head>

<body>
    <nav class="navbar">
        <div class="container">
            <div class="title">Decode</div>
            <div>
                <ul class="nav-links">
                    <form action="/encode" method="get" class="form">
                        <button type="submit">Encode</button>
                    </form>

                    <form action="/" method="get">
                        <button type="submit">Home</button>
                    </form>
                </ul>
            </div>
        </div>
    </nav>
    <section class="father">
        <section class="droparea">
            <i class="far fa-file"></i>
            <p>Drop your Encrypted .png files here!</p>
        </section>
        <section class="pass">
            <form id="keyForm">
                <label for="key">Enter your password:</label>
                <input type="text" maxlength="16" minlength="16" id="key" name="key" required>
                <button class="submit" type="submit">Submit</button>
            </form>
        </section>

        <section class="btn">
            <form action="/performDecryption" method="get" class="form">
                <button type="submit" class="button is-primary">Decode and Download Text</button>
            </form>
        </section>
    </section>
</body>
<script>
    document.getElementById('keyForm').addEventListener('submit', function (event) {
        event.preventDefault();

        const key = document.getElementById('key').value;

        fetch('/output-key', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({ key: key })
        })
            .then(response => response.json())
            .then(data => {
                console.log(data);
                // alert(data.message);
            })
            .catch(error => {
                console.error('Error:', error);
            });
    });
</script>

</html>